/* Header */
header {
    background-image: url(../image/abra-o-livro-em-branco.jpg);
    background-size: cover;
    background-position: center;
}

.header-content {
    display: flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: space-evenly;
    /* height: 100vh; */
    min-height: 400px;
}
.header-main{
    background-color: var(--shawdow);
}
.header-text, 
.header-logo {
    width: 50%;   
    padding: 40px;
}

.header-text{
    color: var(--white);
    background-color: var(--black);
}

.header-logo {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    padding: 20px;
    background-color: var(--white);
    border-radius: 50%;
}