:root{
    --blue: #4242dd;
    --white: #eeeeee;
    --black: #222222;
    --gray: #444444;
    --shawdow: rgba(0, 0, 0, 0.25);
    --font-title: 'serif';
    --font-primary: 'roboto';
    --font-size-default: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    font-size: var(--font-size-default);
    
}

a {
    color: var(--gray);
    text-decoration: underline;
}
.container{
    width: 100%;
    min-width: 340px;
    max-width: 1280px;
    margin: auto;
}